<!doctype html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thymeleaf内置对象工具</title>
</head>
<body>
<h1>thymeleaf内置对象工具<small> <a href="/">返回首页</a></small> </h1>
<hr>
<div>
    <table>
        <th>
            <td>内置对象</td>
        </th>
        <tr><td> ${#ctx} 上下文对象，可用于获取其它内置对象。 </td></tr>
        <tr><td> ${#vars}: 上下文变量。 </td></tr>
        <tr><td> ${#locale}：上下文区域设置。 </td></tr>
        <tr><td> ${#request}: HttpServletRequest对象。 </td></tr>
        <tr><td> ${#response}: HttpServletResponse对象。 </td></tr>
        <tr><td> ${#session}: HttpSession对象。 </td></tr>
        <tr><td> ${#servletContext}: ServletContext对象。 </td></tr>
        <tr><td> 参考自： <a
                href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#appendix-a-expression-basic-objects">18 Appendix A: Expression Basic Objects</a> </td></tr>
    </table>
</div>
</body>
</html>